Django>=4.2
dj-database-url
pandas
numpy
matplotlib
gunicorn
whitenoise
python-dotenv
openpyxl
psycopg2-binary
google-genai
pdfminer.six
PyPDF2
ydata-profiling[notebook]
pillow
imagehash
visions 89076